services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: fastdex-postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: fastdex
    ports:
      - '5434:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: fastdex-redis
    ports:
      - '6381:6379'
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
